<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Minday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-minday" data-rule="required" class="form-control" name="row[minday]" type="text" value="{$row.minday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Maxday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-maxday" data-rule="required" class="form-control" name="row[maxday]" type="text" value="{$row.maxday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Minmon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-minmon" data-rule="required" class="form-control" name="row[minmon]" type="text" value="{$row.minmon|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Maxmon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-maxmon" data-rule="required" class="form-control" name="row[maxmon]" type="text" value="{$row.maxmon|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jiangjin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jiangjin" data-rule="required" class="form-control" name="row[jiangjin]" type="text" value="{$row.jiangjin|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fenbi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fenbi" data-rule="required" class="form-control" name="row[fenbi]" type="text" value="{$row.fenbi|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
